
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0px;

}

button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}

a {
  text-decoration: none;
}

@media (min-width: 600px){
    *{
        font-size: 12px;
    }
}